.header{
    height: 130px;
    position: fixed;
    z-index: 4;

    &__logo{
        width: 171px;
        margin: 0px;

        @include media($tablet){
            width: 244px;
        }

    }
    &__nav{
        width: 100%;
        position: absolute;
        top: 33px;
        right: 0px;
        text-align: right;

        @include media($tablet){
            top: 66px;
            right: -25px
        }

        &-button{
            margin-right: 20px;

            @include media($tablet){
                margin-right: 50px;
            }
    
        }

        &-wrapper{
            width: 0px;
            height: 0px;
            border-radius: 100px;
            position: absolute;
            top: 10px;
            right: 40px;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.233);
            background-color: $color-background;
            z-index: -10;
            transition: all 0.8s;

            @include media($tablet){
                top: 20px;
                right: 80px;
            }
        }

        .show-wrapper{
            width: 5000px;
            height: 5000px;
            border-radius: 5000px;
            top: -2514px;
            right: -2484px;
        }

        &-menu{
            overflow:hidden;
            padding-right: 20px;
            position: absolute;
            top: 2620px;
            left: 2345px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-transform: uppercase;
            font-size: rem(25);
            line-height: rem(80);
            font-weight: 300;
            background-color: $color-background;
            z-index: 2;

            @include media($tablet){
                width: 300px;
                padding-right: 50px;
                font-size: rem(30);
                line-height: rem(60);
                position: absolute;
                top: 2600px;
                left: 2210px;
                display: block;
            }

            li{
                transition: transform 1s ease;
                cursor: pointer;
            }

            li:last-child{
                padding-bottom: 20px;
            }

            li:hover{
                transform: scale(1.1);
            }
        }

        .show-menu{
            opacity: 1;
        }
    }
}