.about{
    width: 90%;
    height: calc(100vh - 220px);
    margin-top: 180px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;

        @include media($tablet){
            padding-left: 50px;
        }


    &__text{
        width: 280px;
        margin-right: 20px;

        h2{
            font-size: rem(18);
            text-transform: uppercase;
            font-weight: 300;
        }

        p{
            font-family: $title-font;
        }
    }
}