.portfolio{
    flex-grow: 1;
    width: 100%;
    height: calc(100vh - 58px);
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    
    &__projects{
        width: calc(100vw - 100px);
        height: calc(100vh - 180px);
        margin-top:100px;
        display: grid;
        justify-items: center;
        grid-template-columns: 100%;
        grid-template-rows: repeat(10, 185px);
        overflow-y: auto;

        @include media(550px){
            height: calc(100vh - 220px);
            margin-top: 100px;
            grid-template-columns: repeat(2, 250px);
            grid-template-rows: repeat(5, 185px);
            overflow-x: scroll;
        }

        @include media($tablet){
            height: calc(100vh - 220px);
            margin-top: 220px;
            grid-template-columns: repeat(5, 250px);
            grid-template-rows: minmax(185px, 1fr) 185px minmax(185px, 1fr) 185px;
            overflow-x: scroll;
        }

        @include media(1100px){
            margin-top: 220px;
        }

        &-project{
            width: 240px;
            height: 175px;
            display: inline-block;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            margin: 8px;
            white-space: normal;


            &:hover{
                transform: rotateY(180deg);
            }

            .project__cover{
                width: 100%;
                height: 100%;
                background-size: cover;
                position: absolute;
                backface-visibility: hidden;
            }

            .project__info{
                width: 100%;
                height: 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                position: absolute;
                backface-visibility: hidden;
                background-color: $color-white;
                transform: rotateY(180deg);

                &-title{
                    font-weight: 300;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: rem(16);
                    margin: 0;
                }

                &-text{
                    flex-grow: 1;
                    font-family: $title-font;
                }

                &-links{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
    }

}